/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  h2 {
    margin-top: 50px;
  }
  
  /* Estilos de formulario */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Estilos de tabla */
  table {
    border-collapse: collapse;
    margin-top: 50px;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos de tarjetas */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .card a {
    display: block;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .card a:hover {
    background-color: #3e8e41;
  }
  